
html {
  scroll-behavior: smooth;
}

$color_red : #C82027;
$color_yellow : #CDC08B;
$color_blue: #4E6766;
$color_gray: #424242;
$light_white : #F5F4F1;


$ef_gramon_font :"EB Garamond";
$avenir : "Avenir";

a.icon-link{
  color: $color_gray !important;
}
body,
.p-component {
  margin: 0;
  font-family: 'Avenir' !important;
  background-color: $light_white;
  font-weight: 400;

}

.avenir-font{
  font-family: $avenir !important;
}
.eb-garamond-font{
  font-family: $ef_gramon_font !important;
}
h1,
h2,.ef-gamon-font {
  font-family: $ef_gramon_font !important;
  font-weight: normal;
}

code {
  font-family: 'Avenir';
}

.section-padding {
  padding-left: 8%;
  padding-right: 8%;
}

.menu-button {
  border: none !important;
  box-shadow: none !important;
}


/* THEME COLOE */

.thm-red {
  color: $color_red;
}

.thm-yellow {
  color: $color_yellow;
}

.thm-nvblue {
  color: $color_blue ;
}

.thm-gray {
  color: $color_gray;
}

.thmbg-red {
  background-color: $color_red;
}

.thmbg-yellow {
  background-color: $color_yellow;
}

.thmbg-nvblue {
  background-color: $color_blue;
}

.thmbg-gray {
  background-color: $color_gray;
}

.bg-lightgray,
.header .p-listbox .p-listbox-list .p-listbox-item.p-highlight {
  background-color: $light_white;
}

.bg-tranper {
  background-color: transparent !important;
}

.grid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.img-fluid {
 
  width: 100%;
  height: auto;
}

/* font-size */
.fs-17{
  font-size: 17px;
}
.fs-25 {
  font-size: 25px;
}
.fs-27{
  font-size: 27px;
}
.fs-30{
  font-size: 30px;
}


.top-menu {
  top: 99px;
}

/* header */
.header{
  padding: 4px 0px;
}
.logo-box {
  width: 80px;
  height: auto;
}

.section-padding {
  padding: 70px 0px;
}
.section-title{
  margin-bottom: 0px;
}
.container {
  padding: 0px 15px;
}

.details-text {
  font-size: 18px;
  line-height: 33px;
  color: #1E1E1E;
}

.section-title {
  font-size: 48px;
  font-weight: 500;
}

.primary-btn-blck {
  position: relative;
  -webkit-transition: .5s ease-out !important;
  transition: .5s ease-out !important;
  transition: .4s ease-out !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, transparent), color-stop(50%, $color_yellow)) 100%;
  background: linear-gradient(270deg, transparent 50%, $color_yellow 0) 100%;
  background-position-x: 99%;
  background-size: 300%;
  border: none;
  clip-path: inset(0 0 0 0 round 20px);
  color: $color_yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  -webkit-transition: .5s ease-out !important;
  transition: .5s ease-out !important;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;

}
.primary-btn-blck.red_button{
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, transparent), color-stop(50%, $color_red)) 100%;
  background: linear-gradient(270deg, transparent 50%, $color_red 0) 100%;
  background-position-x: 99%;
  background-size: 300%;
  border: none;
  clip-path: inset(0 0 0 0 round 20px);
  color: $color_red;
}
.primary-btn-blck:hover {
  -ms-flex-align: center;
  border: none;
  clip-path: inset(0 0 0 0 round 20px);
  color: #fff;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  background-position: 0;
  border-radius: 20px;
  padding-left: 6pt;
  padding-right: 15px;

}


.arrow-size{
  height: 38px;
  width: 38px;
  padding: 10px;

}
.listing{
  padding: 0px;
  margin: 0px;
}
.listing li{
  list-style: none;

}
.banner-text{
  position: absolute;
  left: 0px;
  right:0px;
  bottom:15px;
  font-size: 75px;  
  // letter-spacing: 0.5px;

}
.banner-title{
  font-size: 73px;
  line-height: 79px;

}
.banner-detail-text{
  font-size: 23px;
}
.border-listing li{
  margin-bottom: 30px;
  border-bottom:1px solid $color_red
}
.arrow-listing h3{
  margin-bottom: 0px;
  font-size: 25px;
  font-weight: 600;
  margin-top: 10px;
}
.arrow-listing p,.four-line-text,.two-line-text,.three-line-text{
  overflow: hidden;
  text-overflow: ellipsis;  
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.arrow-listing p,.two-line-text{
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  min-height: 52px;
}
.four-line-text{
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;

 line-height: 35px;


//  margin-bottom: 50px;

}
.three-line-text{
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  // min-height: 70px;
}
.overlay-icon i{
    top:0px;
    left: 0px;
    right: 0px;
    bottom:0px;
    width: 100%;
    height: 100%;
   
}
.listing-imgbox{
  width: 192px;
  height: 192px;
}
.inner-banner-text{
  position: absolute;
  bottom: 40px;
  left: 3%;
}
.p-carousel .p-carousel-indicators .p-carousel-indicator button{
  border-radius: 100px;
  background-color: transparent !important;
  height: 15px;
  width: 15px;
  border:1px solid $color_red;
}
.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button{
  background-color: $color_red !important;

}
.video-box:hover{
  cursor: pointer;
}
.video-box::before{
  content: '';
  position: absolute;
  background-image: url('../public/media/vidoe_icon.png');
  background-repeat: no-repeat;
  background-position: center;
  left: 0px;
  right: 0px;
  bottom:0px;
  top: 0px;
  display: block;
  background-color: rgba(0,0,0,0.2);
}
.red-active-link:hover,.red-active-link:active{
  background-color: #C82027;
  color:#fff !important;
}
.before-red-border li{
  padding-right: 20px;
}
.before-red-border::before{
  content: '';
  background-color: #C82027;
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  right: 20px;
}
.bg-arro-tranparant{
  background-color: transparent;
  border: 1px solid #fff;

}
.bg-arro-tranparant.icon-link{
  color: #fff !important;
}
.right-border-box::before{
  content: '';
  display: block;
  width: 1px;
  height: 160px;
  position: absolute;
 
  bottom:-8px;
  left:0px;
  background-color: #fff;
}
.map-label-listing li p.details-text{
  min-height: auto;
}
.last-border-none .border-bottom-1:last-child{
  border: none;
}
.icon-box{
  height: 52px;
  width: 52px;
}
@media only screen and (min-width: 1170px) {
  .container,.section-border-width {
    width: 1280px;
    margin: 0px auto;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1169px) {
  .container,.section-border-width  {
    width: 100%;
    margin: 15px auto;
  }
}